{% extends 'base.html' %}
{%block content%}
<h1 class="h1 text-center fw-lighter my-5 "><span class="fw-semibold">Welcome!</span> what will you note down today ?
</h1>
<form action="/search" method="POST" class="">
    <div class="d-flex align-items-center mx-auto w-75">
        <input type="text" class="form-control " id="search" placeholder="Search for notes.." />
        <button class="btn bg-black text-white">Search</button>
    </div>
</form>
<div class="w-75 mx-auto mt-5 mb-4 border-bottom">
    <h4 class="fw-lighter">my notes</h4>
    
</div>
<div class="d-flex flex-column overflow-y-auto w-75 mx-auto gap-2" style="height:400px ;" >
    {%for note in allNotes%}

    <div class="w-100 flex flex-column justify-content-center rounded-5 border border-secondary px-4 pt-3 ">
        <h4 class="h5 "><a href='/note/{{note[2]}}'>{{note[0]}}</a> </h4>
        <p class="text-secondary"> {{note[1][:85]+'...'}}</p>
    </div>

    {%endfor%}
</div>


{%endblock%}